.contact {
    display: flex;
    justify-content: space-between;
    border: 1px solid blueviolet;
    padding: 15px;
    margin-bottom: 15px;
}

.text-field {
    margin: 0 15px 15px 0 !important;
}

.contacts-page {
    padding-top: 20px;
}
.auth-inputGroup {
    display: flex;
    flex-direction: column;
    margin: 50px;
    max-width: 300px;
}

.link {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
}
